body {
  background: radial-gradient(circle, #3d4b78 0%, #23315d 100%);
}

.bgCustom1 {
  background-color: #ae8d60;
}
.note.read {
  background-color: green; /* Green when marked as read */
  color: white; /* Ensure text is visible on green background */
}
