.bgsize {
  background-size: 100% 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.gfont1 {
  font-family: "Josefin Sans", sans-serif;
}
.info {
  position: fixed;
  bottom: 40px;
  padding: 15px;
}

.customBorder {
  border: 3px solid black;
}

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

.gfont2 {
  font-family: "EB Garamond", serif;
}

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

.gfont3 {
  font-family: "Kalam", cursive;
}

.bgcolor {
  background: radial-gradient(circle, #3d4b78 0%, #23315d 100%);
}

@media (max-height: 715px) and (max-width: 1000px) {
  .info {
    position: fixed;
    bottom: 40px;
    padding: 15px;
    display: none;
  }
}

.navbg {
  background: rgb(92, 92, 211);
}

.mw {
  /*max-width for series22.html */
  max-width: 380px;
}

.shadow {
  box-shadow: 0px 0px 5px 3px black;
}

.greenshadow {
  box-shadow: 0px 0px 5px 2px black;
}

.numbershadow {
  box-shadow: 0px 0px 5px 2px black;
}

.textshadow {
  text-shadow: 1px 1px 2px rgba(23, 126, 177, 0.795),
    -1px -1px 2px rgba(23, 126, 177, 0.795),
    1px -1px 2px rgba(23, 126, 177, 0.795),
    -1px 1px 2px rgba(23, 126, 177, 0.795);
}
